<!doctype html>
<html lang="en">
  <head>
  
    <style>
    .timeline {
        background: blue;
        font-weight: 700;
        font-size:larger;
        width:5px;
        height:100%;
        margin:auto;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
    }

    .company_one {
        /* background: red; */
        font-weight:600;
        width:5px;
        /* margin:auto; */
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
    }

    /* some sytle of banner and footer */
    .text-secondaryellow{color:#a19975 ;}
    .bg-blueblack{background:#161d27;}
    .btn-secondaryyellow{background-color: #a19975;}
    .shadow-image{box-shadow: -10px 10px 0 #a19975;}
    .text-secondaryellow{color:#a19975 ;}


    </style>

    <!-- header start -->  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel="icon" href="./image/80.png">
    
    <title>Welcome to my personal website</title>
     <!-- header end -->  
  </head>
  
  <body class='bg-light'>
    
    <!-- navbar start -->  
    <div class='container-fluid sticky-top px-0 shadow'>
        <nav class='navbar navbar-expand-md navbar-dark bg-blueblack'>
            <div class='container-fluid px-4'>
                <a href="/" class="navbar-brand ms-4">Victor's Personal Website</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#slidernode">
                    <span class='navbar-toggler-icon'></span>
                </button>
                <div class="collapse navbar-collapse" id="slidernode">
                    <ul class="navbar-nav ms-auto me-4">
                        <li class="navbar-item text-center"><a href="#cv" class="nav-link fw-lighter">CV</a></li>
                        <li class="navbar-item text-center"><a href="#eap" class="nav-link fw-lighter">EAP</a></li>
                        <li class="navbar-item text-center"><a href="#gy" class="nav-link fw-lighter">About</a></li>
                        <li class="navbar-item text-center"><a href="#lx" class="nav-link fw-lighter">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>  
    </div>
    <!-- navbar end -->  
    
    <!-- banner -->
    <div class="container-fluid bg-blueblack">
        <div class='row'>
            <div class='col-12 col-md-6 text-white p-5 pb-0 pb-md-5'>
                <h1>Welcome to my personal website!</h1>
                <p class='fw-lighter'>Hi, my friend, I'm glad to meet you here. Hope we can have a cup of coffee together.</p>
                <ul class='list-unstyled d-flex'>
                    <li class='me-2'>Follow me</li>
                    <li class='me-2'>
                        <a href='https://www.credly.com/users/yi-huang.043a569b' class='text-white' target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                              </svg>
                        </a>
                    </li>
                    <li class='me-2'>
                        <a href='https://www.linkedin.com/in/victor-h-09710571/' class='text-white' target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <button class='btn btn-primary d-flex align-items-center mt-5 btn-lg fs-6 fw-lighter mb-0 mb-md-5' onclick="location.href='mailto:#.com';">
                    <svg class='me-2' xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                    </svg>
                    Main to me
                </button>
            </div>
            <div class='col-12 col-md-6 d-flex justify-content-center align-items-center p-1 pt-0'>
                <img class='h-75 img-thumbnail shadow-image' src='https://upload.wikimedia.org/wikipedia/en/5/51/Stormtrooper_%28Star_Wars%29.png'>
            </div>
        </div>   
    </div>


    <!-- CV start -->
    <div class='container mt-5'>
        <h3 id='cv'>Chronological</h3>
        <p class='fw-lighter mt-3'>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. </p>
        <div class='row'>
            <div class='col-1 mb-5'>
                <div class='shadow bg-white h-100'>
                    <div class='timeline'>May the 4th be with you. Live long and prosper. Stay hungry, stay foolish.</div>
                </div>
            </div>

            <!-- -->
            <div class='col-11'>
                <% for(var j=0;j<mech.length;j++){ %>
                <div class='row mb-5'>
                    <div class='col-1'>
                        <div class='shadow bg-white h-100'>
                        <img src='<%= mech[j].companyLogo %>' class='img-fluid rounded'>
                        <div class='company_one'><%= mech[j].companyName %><br><%= mech[j].companyLoc %></div>
                        </div>
                    </div>

                    <div class='col-11'>
                        <div class='shadow bg-white py-2'>
                            <div class='ms-3 mt-2'>
                                <h3><%= mech[j].jobTitle %></h3>
                                <p class='fw-lighter mt-2'><%= mech[j].jobDescription %></p>
                            </div>
                            <% for(var i=0;i<mech[j].projectName.length;i++){ %>
                            <div class='m-3 row'>
                                <div class='col-3'>
                                    <a href="<%= mech[j].projectUrl[i] %>" class='d-block text-decoration-none text-center' target='_blank'>
                                        <img src='<%= mech[j].projectImage[i] %>' class='img-fluid rounded'>
                                    </a>
                                </div>
                                <div class='col-9'>
                                    <div class='text-secondaryellow fw-normal'> 
                                        <%= mech[j].projectName[i] %>
                                    </div>
                                    <p class='fw-lighter'>
                                        <%= mech[j].jobDescription[i] %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

            <% } %>    
            </div>

<!--             <div class='col-11'>
                <div class='row mb-5'>
                    <div class='col-1'>
                        <div class='shadow bg-white h-100'>
                        <img src='<%= mech[0].companyLogo %>' class='img-fluid rounded'>
                        <p class='company_one'><%= mech[0].companyName %></p>
                        </div>
                    </div>

                    <div class='col-11'>
                        <div class='shadow bg-white py-2'>
                            <div class='ms-3 mt-2'>
                                <h3><%= mech[0].jobTitle %></h3>
                                <p class='fw-lighter mt-2'><%= mech[0].jobDescription %></p>
                            </div>
                            <% for(var i=0;i<mech[0].projectUrl.length;i++){ %>
                            <div class='m-3 row'>
                                <div class='col-3'>
                                    <a href="<%= mech[0].projectUrl[i] %>" class='d-block text-decoration-none text-center' target='_blank'>
                                        <img src='<%= mech[0].projectImage[i] %>' class='img-fluid rounded'>
                                    </a>
                                </div>
                                <div class='col-9'>
                                    <div class='text-secondaryellow fw-normal'> 
                                        <%= mech[0].projectName[i] %>
                                    </div>
                                    <p class='fw-lighter'>
                                        <%= mech[0].jobDescription %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                
                <div class='row mb-5'>
                    <div class='col-1'>
                        <div class='shadow bg-white h-100'>
                        <img src='<%= mech[2].companyLogo %>' class='img-fluid rounded'>
                        <p class='company_one'><%= mech[2].companyName %></p>
                        </div>
                    </div>

                    <div class='col-11'>
                        <div class='shadow bg-white py-2'>
                            <div class='ms-3 mt-2'>
                                <h3><%= mech[2].jobTitle %></h3>
                                <p class='fw-lighter mt-2'><%= mech[2].jobDescription %></p>
                            </div>
                            <% for(var i=0;i<mech[2].projectUrl.length;i++){ %>
                            <div class='m-3 row'>
                                <div class='col-3'>
                                    <a href="<%= mech[2].projectUrl[i] %>" class='d-block text-decoration-none text-center' target='_blank'>
                                        <img src='<%= mech[2].projectImage[i] %>' class='img-fluid rounded'>
                                    </a>
                                </div>
                                <div class='col-9'>
                                    <div class='text-secondaryellow fw-normal'> 
                                        <%= mech[2].projectName[i] %>
                                    </div>
                                    <p class='fw-lighter'>
                                        <%= mech[2].jobDescription %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class='row mb-5'>
                    <div class='col-1'>
                        <div class='shadow bg-white h-100'>
                        <img src='<%= mech[1].companyLogo %>' class='img-fluid rounded'>
                        <p class='company_one'><%= mech[1].companyName %></p>
                        </div>
                    </div>

                    <div class='col-11'>
                        <div class='shadow bg-white py-2'>
                            <div class='ms-3 mt-2'>
                                <h3><%= mech[1].jobTitle %></h3>
                                <p class='fw-lighter mt-2'><%= mech[1].jobDescription %></p>
                            </div>
                            <% for(var i=0;i<mech[1].projectUrl.length;i++){ %>
                            <div class='m-3 row'>
                                <div class='col-3'>
                                    <a href="<%= mech[1].projectUrl[i] %>" class='d-block text-decoration-none text-center' target='_blank'>
                                        <img src='<%= mech[1].projectImage[i] %>' class='img-fluid rounded'>
                                    </a>
                                </div>
                                <div class='col-9'>
                                    <div class='text-secondaryellow fw-normal'> 
                                        <%= mech[1].projectName[i] %>
                                    </div>
                                    <p class='fw-lighter'>
                                        <%= mech[1].jobDescription %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>

            </div> -->

    </div>
    </div>

    <!-- EAP start -->
    <div class='container-fluid bg-white mb-5'>
        <div class='container'>
            <h3 id='eap'>Educations, Awards and Honours, Publications</h3>
            <p class='fw-lighter mt-3'>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. </p>
            <ul class='nav nav-tabs'>
                <li class='nav-item'>
                    <a href='#educations' data-bs-toggle="tab" class='nav-link active'>Educations</a>
                </li>
                <li class='nav-item'>
                    <a href='#awardsHonours' data-bs-toggle="tab" class='nav-link'>Awards and Honours</a>
                </li>
                <li class='nav-item'>
                    <a href='#publications' data-bs-toggle="tab" class='nav-link'>Publications</a>
                </li>
            </ul> 
            <div class='tab-content'>
                
                <div class='tab-pane fade show active py-4 px-1' id='educations'>
                    <% for(var j=0;j<4;j++){ %>
                    <div class='row'>
                        <div class='col-1 my-3'>
                            <img src='<%= eap[0].education.instituteLogo[j] %>' class='rounded img-fluid'>
                        </div>
                        <div class='col-11 row align-items-center'>
                            <div><h6><%= eap[0].education.major[j] %></h6></div>
                            <div><%= eap[0].education.instituteName[j] %></div>
                        </div>
                    </div>
                    <hr>
                    <% } %>
                </div>

                <div class='tab-pane fade show py-4 px-1' id='awardsHonours'>
                    <% for(var j=0;j<5;j++){ %>
                    <div class='row'>
                        <div>
                            <h6><%= eap[0].awardsHonours.awardName[j] %></h6>
                            <span class='fw-lighter'><%= eap[0].awardsHonours.awardYear[j] %></span>
                        </div>
                        <div>
                            <p class='fw-lighter'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= eap[0].awardsHonours.awardedby[j] %><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= eap[0].awardsHonours.awardContent[j] %></p>
                        </div>
                    </div>
                    <hr>
                    <% } %>
                </div>

                <div class='tab-pane fade show py-4 px-1' id='publications'>
                    <div class='row'>
                    <h6>Journal</h6>
                        <% for(var j=0;j<4;j++){ %>
                        <div>
                            <p class='fw-lighter mt-3 mt-lg-0'><%= eap[0].publications.journal[j] %></p>
                        </div>
                        <% } %>
                    </div>
                    <hr>
                    <h6 class='mt-3'>Conference</h6>
                    <div class='mt-3'>
                        <p class='fw-lighter mt-3 mt-lg-0'><%= eap[0].publications.conference %></p>
                    </div>
                    <hr>
                    <h6 class='mt-3'>Book</h6>
                    <div class='mt-3'>
                        <p class='fw-lighter mt-3 mt-lg-0'><%= eap[0].publications.book %></p>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
    <!-- skill end -->

    <!-- about start -->
    <div class='container'>
        <h3 id='gy'>About</h3>
        <p class='fw-lighter mt-3'>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. </p>
        <div class='row shadow border p-5 my-5 bg-white'>
            <div class='col-md-3 col-12'>
                <div class='text-center'>
                    <img src='https://upload.wikimedia.org/wikipedia/en/5/51/Stormtrooper_%28Star_Wars%29.png' class='rounded-3 img-fluid'>
                </div>
                <div class='mt-2'>
                    <span class='badge bg-primary rounded-pill'>Front End Developer</span>
                    <span class='badge bg-blueblack rounded-pill'>Back End Developer</span>
                    <span class='badge bg-danger rounded-pill'>Full Stack Developer</span>
                </div>
            </div>
            <div class='col-md-9 col-12'>
                <h3 class='text-center text-md-start mt-3 mt-md-0'>Victor</h3>
                <hr class='mt-1 mb-2'>
                <p class='fw-lighter'>
                    August 25, 2012) was an American astronaut and aeronautical engineer, and the first person to walk on the Moon. He was also a naval aviator, test pilot, and university professor.</br>
                    A graduate of Purdue University, Armstrong studied aeronautical engineering; his college tuition was paid for by the U.S. Navy under the Holloway Plan. He became a midshipman in 1949 and a naval aviator the following year. He saw action in the Korean War, flying the Grumman F9F Panther from the aircraft carrier USS Essex. In September 1951, while making a low bombing run, Armstrong's aircraft was damaged when it collided with an anti-aircraft cable, strung across a valley, which cut off a large portion of one wing. Armstrong was forced to bail out. After the war, he completed his bachelor's degree at Purdue and became a test pilot at the National Advisory Committee for Aeronautics (NACA) High-Speed Flight Station at Edwards Air Force Base in California. He was the project pilot on Century Series fighters and flew the North American X-15 seven times. He was also a participant in the U.S. Air Force's Man in Space Soonest and X-20 Dyna-Soar human spaceflight programs.
                </p>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- contact start -->
    <div class='container-fluid bg-white py-5'>
        <div class='container'>
            <h3 id='lx'>Contact</h3>
            <p class='fw-lighter mt-3 mb-5'>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order, so that the most recent post appears first, at the top of the web page. </p>
            <div class='row'>
                <div class='col-12 col-md-5 order-2 order-md-0 mt-4 mt-md-0'>
                    <h5>Send a email</h5>
                    <span class='fw-lighter'>A blog (a truncation of "weblog") is a discussion or informational website publis</span>
                    
                    <h5 class='mt-5'>Contact</h5>
                    <b>Email:</b>
                    <span class='fw-lighter'>victorhuang1
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-at" viewBox="0 0 16 16">
                        <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                        </svg>
                        </span>gmail.com
                    </span><br>
                    <b>Tel:</b>
                    <span class='fw-lighter'>+1 000 000 000</span><br>
                    <b>Web:</b>
                    <span class='fw-lighter'>www.eureka.company</span><br>

                    <h5 class='mt-5'>Address:</h5>
                    <b>Office:</b>
                    <span class='fw-lighter'>Calgary,AB</span>
                </div>
               
                <div class='col-12 col-md-7 border shadow'>
					<div class='row p-5'>
						<div class='col-12 d-block d-md-none mb-4'>
							<h5>Send a email</h5>
							<span class='fw-light'>
								Hello, nice to meet you here.
							</span>
						</div>
						<div class='col-6'>
							<label class='form-label fw-lighter' for='nameinput'>
								First Name*
							</label>
							<input class='form-control' id='nameinput' placeholder="First Name*" />
							<label class='form-label fw-lighter mt-4' for='emailinput'>
								Email:
							</label>
							<input class='form-control' id='emailinput' placeholder="Email:" />
						</div>
						<div class='col-6'>
							<label class='form-label fw-lighter' for='lastinput'>
								Last Name*:
							</label>
							<input class='form-control' id='lastinput' placeholder="Last Name*" />
							<label class='form-label fw-lighter mt-4' for='phoneinput'>
								Phone Number:
							</label>
							<input class='form-control' id='phoneinput' placeholder="Phone Number" />
						</div>
						<div class='col-12 mt-4'>
							<label class='form-label fw-lighter' for='mesinput'>
								Message:
							</label>
							<textarea class='form-control' id='mesinput'></textarea>
							<input type='button' value='Send' class='btn btn-dark mt-4' />
						</div>
					</div>
                </div>
            </div>
        </div>  
    </div>
    <!-- contact end -->


    <!-- footer start -->
    <div class='container-fluid bg-blueblack py-5'>
        <div class='container'>
            <div class='row'>
                <div class='col-12 col-md-3 text-center text-sm-start'>
                    <ul class="list-unstyled text-light">
                        <li class='fw-bold mb-2'>Device support</li>
                        <li class='fw-light'>
                            <small>
                                Web
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                Phone
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                Pad
                            </small>
                        </li>
                    </ul>
                </div>
                <div class='col-12 col-md-3 text-center text-sm-start'>
                    <ul class="list-unstyled text-light">
                        <li class='fw-bold mb-2'>Module</li>
                        <li class='fw-light'>
                            <small>
                                Blog
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                Skill
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                About
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                Call
                            </small>
                        </li>
                    </ul>
                </div>
                <div class='col-12 col-md-3 text-center text-sm-start'>
                    <ul class="list-unstyled text-light">
                        <li class='fw-bold mb-2'>Support</li>
                        <li class='fw-light'>
                            <small>
                                Web FrontEnd
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                PhotoShop
                            </small>
                        </li>
                        <li class='fw-light'>
                            <small>
                                BootStrap 5
                            </small>
                        </li>
                    </ul>
                </div>
                <div class='col-12 col-md-3 text-center text-sm-start'>
                    <ul class="list-unstyled text-light">
                        <li class='fw-bold mb-2'>Victor's Planet</li>
                        <li class='fw-light'>
                            <small>
                                Victor's personal website.
                            </small>
                        </li>
                    </ul>
                </div>
                <div class='col-12 text-center text-light mt-3'>
                    <span>Victor © 1997-2021 Copyright</span>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->


  </body>
</html>